nav {
    background: #BF1B2C;
    height: 5rem;
    display: grid;
    width: 100vw;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Only on medium and small screens */
.nav__toggle-btn {
    display: none;
}
/* Only on medium and small screens */


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

ul.nav__links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul.nav__links a {
    transition: all 500ms ease;
}

ul.nav__links a:hover{
    color: #2c1a1c;
}

.active_nav {
    position: relative;
}

.active_nav::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: #BF1B2C;
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}


/*************************************************
 Media Queries -  Medium And Small Screens 
 *************************************************/
@media screen and (max-width: 1024px) {
    
    .nav__toggle-btn {
        display: inline-block;
        background-color: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav__toggle-btn svg {
        color: #fff;
    }
    ul.nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }
    .active_nav, .active_nav::after {
        display: none;
    }
    ul.nav__links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0 , 0, 0, 0.4);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }
    ul.nav__links li a {
        background: #BF1B2C;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show_nav {
        display: flex;
    }
    .hide_nav {
        display: none !important;
    }
    /* animation css */
    ul.nav__links li:nth-child(2){
        animation-delay: 200ms;
    }
    ul.nav__links li:nth-child(3){
        animation-delay: 400ms;
    }
    ul.nav__links li:nth-child(4){
        animation-delay: 600ms;
    }
    ul.nav__links li:nth-child(5){
        animation-delay: 800ms;
    }
    ul.nav__links li:nth-child(6){
        animation-delay:1s;
    }
    @keyframes navAnimation {
        to {
            transform:rotate(0);
            opacity: 1;
        }
    }
}